anyio
asttokens
black
click
colorama
comm
contourpy
cramjam
cycler
debugpy
decorator
executing
fastapi
fastparquet
fonttools
fsspec
h11
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
mypy-extensions
nest-asyncio
nltk
numpy
packaging
pandas
parso
pathspec
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
pydantic
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
regex
scipy
seaborn
six
sniffio
stack-data
starlette
tomli
tornado
tqdm
traitlets
typing_extensions
uvicorn
wcwidth
wordcloud
